.panel.panel-default
  .panel-body
    .row
      .col-md-12
        -@users.each do |user|
          = user.email
          |
          = user.created_at
          |
          - if user.control.to_i != 0
            = Salon.find(user.control).name
          |
          = link_to 'Destroy', delete_user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }
          %hr
