- @services = Service.all
%ul.nav.nav-pills.nav-stacked
  - @services.each do |s|
    - if s.counter.to_i != 0
      %li
        = link_to(s) do
          = s.name
          = surround '(', ')' do
            = s.counter
