/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/**$border-radius-base: 0;
$btn-default-bg:#7842dd;
$btn-default-color:#fff;
$btn-default-border:$btn-default-bg;**/
@import "bootstrap-sprockets";
@import "bootstrap";
#map_canvas{
  min-height: 400px;
}
img{
  max-width: 100%;
}
.panel.salon h3.title{
  margin: 0 0 4px 0;
}
.panel.salon span.address{
  margin-bottom: 6px;
  display: inline-block;
}
.panel-services ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.panel-services ul li{
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ececec;
}
