// Place all the styles related to the malichimpsubscribe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mailchimpsubscribe input[type="submit"]{
  margin-top: 12px;
}
#response.subscribe .alert-success{
  background-color: #349634;
  border-color: #349634;
  color: white;
}
#response.subscribe .alert-success strong{
  font-size: 16px;
  text-transform: uppercase;
}
#response.subscribe .alert-danger{
  background-color: #a94442;
  border-color: #a94442;
  color:white;
}
